.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    &__top {
        text-align: center;
        margin-bottom: 50px;           
        h2 {
            font-size: 28px;
            margin-bottom: 5px;
        }
        p {
            /*пожалуйста войдите*/
            font-size: 18px;
            line-height:  21px;
            letter-spacing: 0.1;
            opacity: 0.5; 
        }
    }

    &__register-link {
        text-align: center;
        display: block;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.44);
    }

    .button {
        text-transform: uppercase;
        /*ВОЙТИ В АККАУНТ*/
        font-weight: 500px;
        font-size: 14px;
        letter-spacing: 0.1px;
        width: 100%;
    }
    .block {
        width: 430px;
    }

    
}