.message {
   $self: &;
 
   &__content {
      display: flex;
      max-width: 440px;
      margin-bottom: 15px;
   }

   &__avatar {
      display: flex;
      flex-direction: column-reverse;
      img {
         border-radius: 50px;
         width: 33px;
         height: 33px;
         margin-right: 13px;
         margin-bottom: 23px;
      }
   }

   &__bubble {
      background: #3674ff;
      box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
      border-radius: 12px 12px 12px 0px;
      padding: 15px;
      margin-bottom: 8px;
   }

   &__date {
      font-size: 12px;
      opacity: 0.5;
   }

   &__text {
      color: white;
      line-height: 20px;
   }

   &--isme {
      display: flex;
      flex-direction:  row-reverse;
      
      #{$self}__content {
         margin-bottom: 15px;
         flex-direction: row-reverse;
         margin-right: 0px;
         margin-left: 13px;
      }

      #{$self}__avatar {
         img{
            margin-bottom: 15px;
            flex-direction: row-reverse;
         }
      }

      #{$self}__info {
         text-align: right;
         img{
            margin-bottom: 15px;
            flex-direction: row-reverse;
         }
      }
      
      #{$self}__bubble {
         background: #ffffff;
         border: 1px solid #ececec;
         box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.002);
         border-radius: 12px 12px 0px 12px;
      }
      
      #{$self}__text {
         color: #000000;
      }
   }
}
